html {
    width: 100vw;
}

body {
    background: white;
    min-height: 100vh;
}

h1 {
    color: black;
    padding-left: 10px;
    padding-top: 10px;
}

/* login.js */
.login-container {
    border: 2px solid darkgray;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 350px; /* Fixed width for consistency */
    background-color: rgb(237, 237, 237); /* White background */
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
    text-align: left; /* Center align the text */
}

.login-container h1 {
    text-align: center; /* Center align only the heading */
    margin-bottom: 20px; /* Spacing below the heading */
}

.form-group {
    margin-bottom: 15px; /* Spacing between form groups */
}

.form-group label {
    display: block; /* Make the label a block element */
    margin-bottom: 10px; /* Spacing between label and input */
}

.form-group input {
    width: 100%; /* Full width */
    padding: 8px;
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 4px; /* Rounded corners */
}

.login {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}