.post {
    margin: 25px 25px;
    padding: 10px 15px 15px 15px;
    background-color: rgb(237, 237, 237);
    border: 2px solid darkgray;
    border-radius: 10px;
}
.date {
    color: rgb(90, 90, 90);
    padding: 5px 0 15px 0;
}

.description {
    padding-bottom: 10px;
}