*,*::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgb(0, 0, 0);
}
.home-link {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
ul {
    display: flex;
    list-style: none; /* Removes bullet points */
    padding: 0; /* This removes default padding */
    gap: 5rem;
}
.main-links {
    color: rgb(177, 177, 177);
    position: relative; /* Needed to position the pseudo-element */
    overflow: hidden; /* Ensures the pseudo-element doesn't extend beyond the link */
}
.main-links:hover {
    color: white; /* New color on hover */
}

.main-links::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Adjust the thickness of the underline */
    bottom: -5px; /* Positioning of the underline */
    left: 50%;
    background-color: white; /* Color of the underline */
    transition: width 0.5s ease, left 0.5s ease; /* Animation time */
}

.main-links:hover::after {
    width: 100%;
    left: 0;
}